.gameTitle h1{
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
  background-color: darkgrey;
  color: white;
}

.row{
  margin-left: 0;
  margin-right: 0;
} 

.btn {
margin: 2rem auto;
position: relative;
}

.pressed{
  background-color: darkgrey;
}

#keyboard-upper-container {
  display: none;
}

.keyboard-container {
  margin-top: 15rem;
  height: 24rem;
}

.container {
  margin: 2rem auto;
  padding: 0;	
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 1rem 2rem black;
  justify-content: center;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
  justify-content: center;
  margin: 2rem 0;
  border-bottom: 5px dotted black;
}

#yellow-block {
  position: absolute;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  background-color: yellow;
  left: 150px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin: 2rem auto;
  padding: 10px 0;
  justify-content: center;
}

#feedback {
  font-size: 20px;
  margin: 0;
  padding: 0 4rem;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}

.well {
  padding: 14px;
  box-shadow: 0 0.75rem 0.4rem lightgrey;
  max-width: 50rem;
}

#sentence {
  border: 2px solid black;
  border-radius: 15px;
}

.space {
  padding: 14px 15rem;
}

#closer{
  justify-content: center;
}